<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Review python iteration, control flows, and functions

_Author: Kiefer Katovich (SF) and Dave Yerrington (SF)_

---




### Learning Objectives
 
- Explore `Python` control flow and conditional programming.  
- Implement `For` and `While` loops to iterate through data structures.
- Apply `if, else` conditional statements.
- Create functions to perform repetitive actions.
- Demonstrate error-handling using `try, except` statements.
- Combine control flow and conditional statements to solve the classic "FizzBuzz" code challenge.
- Use `Python` control flow and functions to help us parse, clean, edit and analyze the Coffee Preferences dataset.

---
### Lesson Guide

- [If Else Statement](#if_else_statements)
- [Iterating With For Loops](#for_loops)
- [FizzBuzz](#fizz_buzz)
- [Functions](#functions)
- [While Loops](#while_loops)
- [Practice control flow on Coffee Preference dataset](#coffee_preference)

In [1]:
import numpy as np

<a id='if_else_statements'></a>

# If, Else Statements

---

### 1. Write an if-else statement to check whether the suitcase is over 50lb.

Print a message indicating whether or not the suitcase is over 50lbs.

## Header

for i in range (10)

In [2]:
example_dict = {"A": 1, "B":2}
example_dict

{'A': 1, 'B': 2}

In [3]:
weight = float(input("How many pounds does your suitcase weigh? "))

How many pounds does your suitcase weigh? 10

In [13]:
if weight > 50:
    print "weight is over 50 lbs"
else:
    print "weight is less than 50 lbs"

weight is less than 50 lbs

---

### 2. Write an if-else statement for multiple conditions.

Print out these recommendations based on the weather conditions:

1. The temperature is higher than 60 degrees and it is raining: Bring an umbrella.
2. The temperature is lower than or equal to 60 degrees and it is raining: Bring an umbrella and a jacket.
3. The temperature is higher than 60 degrees and the sun is shining: Wear a T-shirt.
4. The temperature is lower than or equal to 60 degrees and the sun is shining: Bring a jacket.

In [1]:
temperature = float(input('What is the temperature? '))
weather = raw_input('What is the weather? (rain or shine) ')

%whos

What is the temperature? 10
What is the weather? (rain or shine) 30
Variable      Type     Data/Info
--------------------------------
temperature   float    10.0
weather       str      30

In [11]:
if temperature > 60 and weather == "rain":
    print "Bring an umbrella"
    
elif temperature <= 60 and weather == "rain":
    print "Bring an umbrella and a jacket"
elif temperature > 60 and weather == "shine":
    print "Wear a t-shirt"
elif temperature <= 60 and weather == "shine":
    print "Bring a jacket"

Bring a jacket

---
<a id='for_loops'></a>
# For Loops

---
### 3. Write a `for`-loop that iterates from the number 1 to the number 15.

On each iteration, print out the number.

In [14]:
for i in range(1, 16):
    print i

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

---

### 4. Iterate from 1 to 15, printing whether the number is odd or even.

Hint: The modulus operator, `%`, can be used to take the remainder. For example:

```python
9 % 5 == 4
```

Or in other words, the remainder of dividing 9 by 5 is 4.

In [2]:
for i in range(1,16):
    if i % 2 == 0:
        print i, "the number is even"
    else:
        print i, "the number is odd"

1 the number is odd
2 the number is even
3 the number is odd
4 the number is even
5 the number is odd
6 the number is even
7 the number is odd
8 the number is even
9 the number is odd
10 the number is even
11 the number is odd
12 the number is even
13 the number is odd
14 the number is even
15 the number is odd

---
<a id='fizz_buzz'></a>
### 5. Iterate from 1 to 30 with the following instructions:

1. If a number is divisible by 3, print 'fizz'. 
2. If a number is divisible by 5, print 'buzz'. 
3. If a number is both divisible by 3 and 5 print 'fizzbuzz'.
4. Otherwise, print just the number.

In [18]:
for i in range(1,31):
    if i % 3 == 0 and i % 5 == 0:
        print i, "fizzbuzz"
    elif i % 3 == 0:
        print i, "fizz"
    elif i % 5 == 0:
        print i, "buzz"
    else:
        print i

1
2
3 fizz
4
5 buzz
6 fizz
7
8
9 fizz
10 buzz
11
12 fizz
13
14
15 fizzbuzz
16
17
18 fizz
19
20 buzz
21 fizz
22
23
24 fizz
25 buzz
26
27 fizz
28
29
30 fizzbuzz

---

### 6. Iterate through the following list of animals, and print each one in all caps.

In [2]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [3]:
for animal in animals:
    print animal.upper()

DUCK
RAT
BOAR
SLUG
MAMMOTH
GAZELLE

---

### 7. Iterate through the animals list. Capitalize the first letter and append the modified animals to a new list.

In [8]:
cap_animals =[]
for animal in animals:
    word = animal[0].upper() + animal[1:]
    cap_animals.append(word)
print cap_animals

#can also use the .capitalize() function

['Duck', 'Rat', 'Boar', 'Slug', 'Mammoth', 'Gazelle']

---

### 8. Iterate through the animals. Print out the animal name and the number of vowels in the name.
Hint: You may need to create a variable of vowels for comparison.

In [10]:
vowels = 'aieou'

for animal in animals:
    vowel_count_for_animal = 0
    for character in animal:
        if character in vowels:
            vowel_count_for_animal += 1
    print animal + " " + str(vowel_count_for_animal)

duck 1
rat 1
boar 2
slug 1
mammoth 2
gazelle 3

---
<a id='functions'></a>
# Functions
---

### 9. Write a function that takes word as an argument and returns the number of vowels in the word.

Try it out on three words.

In [14]:
vowel = 'aieou'
def vowels_in_word(word):
    number_of_vowels = 0
    for character in word:
        if character in vowel:
            number_of_vowels += 1
    return number_of_vowels

print vowels_in_word('peter')

2

---

### 10. Write a function to calculate the area of a triangle uaing a height and width.

Test it out.

In [15]:
def area(height,width):
    return height*width*0.5

print area(10,2)

10.0

---
<a id='while_loops'></a>
# While Loops
---

### 11. While loops and strings.

Iterate over the following sentence repeatedly, counting the number of vowels in the sentence until you have tallied one million. Print out the number of iterations it took to reach that amount.

In [17]:
sentence = "A MAN KNOCKED ON MY DOOR AND ASKED FOR A SMALL DONATION TOWARDS THE LOCAL SWIMMING POOL SO I GAVE HIM A GLASS OF WATER"

In [21]:
vowels = 'AEIOU'
vowel_count = 0
iterations = 0

while(vowel_count < 1000000):
    for character in sentence:
        if character in vowels:
            vowel_count += 1
    iterations += 1

print iterations

27778

---

### 12. Try to convert elements in a list to floats.

Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.

In [23]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

In [30]:
new_list = []

for item in corrupted:
    try:
        new_list.append(float(item))
    except:
        pass

print new_list

[23.1, 0.12, -11.1, 1000.0]

---
<a id='coffee_preference'></a>

# Practice control flow on Coffee Preference dataset

### 13. Load coffee preference data from file and print

The code to load in the data is provided below. 

The `with open(..., 'r') as f:` opens up a file in "read" mode (rather than "write"), and assigns this opened file to `f`. 

We can then use the `.readlines()` built-in function to split the csv file on newlines and assign it to the variable `lines`.

In [31]:
with open('datasets/coffee-preferences.csv','r') as f:
    lines = f.readlines()

#### Iterate through lines and print them out

In [36]:
for row in lines:
    print row

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe

3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,

3/17/2015 18:38:09,April,4,5,5,3,,,3,,5

3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1

3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3

3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,

3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3

3/17/2015 18:39:01,Dave H,4,5,,5,,,,,

3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2

3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4

3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1

3/17/2015 18:39:23,Alex,4,5,,3,,,,,

3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,

3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3

3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5

3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2

3/17/2015 18:40:49,Markus,3,5,,3,,,4,,

3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3

3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,

3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3

3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,

#### Print out just the lines object by typing `lines` in a cell and hitting enter.

In [37]:
lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1\n',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 14. Remove the remaining newline `'\n'` characters with a for-loop.

Iterate through the lines of the data and remove the unwanted newline characters.

**.replace('\n', '')** is a built-in string function that will take the substring you want to replace as its first argument and the string you want to replace it with as its second.

In [43]:
cleaned_lines = []

for row in lines:
    clean_row = row.replace('\n','')
    cleaned_lines.append(clean_row)

print cleaned_lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe', '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,', '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5', '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1', '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3', '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,', '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3', '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,', '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2', '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4', '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1', '3/17/2015 18:39:23,Alex,4,5,,3,,,,,', '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,', '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3', '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5', '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2', '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,', '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3', '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,', '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3', '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 15. Split the lines into "header" and "data" variables.

The header is the first string in the list of strings. It contains the column names of our data.

In [49]:
header = lines[0].replace('\n','')
data = lines[1:]

print header
print data

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe
['3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n', '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n', '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n', '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n', '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n', '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n', '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n', '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n', '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n', '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1\n', '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n', '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n', '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n', '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n', '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n', '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n', '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n', '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n', '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n', '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 16. Split the header and the data strings on commas.

To split a string on the comma character, use the built in **`.split(',')`** function. 

Split the header on commas, then print it. You can see that the original string is now a list containing items that were originally separated by commas.

In [50]:
print header.split(',')

['Timestamp', 'Name', 'Starbucks', 'PhilzCoffee', 'BlueBottleCoffee', 'PeetsTea', 'CaffeTrieste', 'GrandCoffee', 'RitualCoffee', 'FourBarrel', 'WorkshopCafe']

---

### 17. Remove the "Timestamp" column.

We aren't interested in the "Timestamp" column in our data, so remove it from the header and the data list.

Removing the Timestamp from the header can be done with list functions or with slicing. To remove the header column from the data, use a for-loop.

Print out the new data object with the timestamps removed.

In [56]:
new_header = []

for item in header.split(','):
    if item != 'Timestamp':
        new_header.append(item)

print new_header

new_data = []

for string in data:
    string_with_no_newline = string.replace('\n', '')
    columns = string_with_no_newline.split(',')
    columns_no_timestamp = columns[1:]
    new_data.append(columns_no_timestamp)

print new_data

['Name', 'Starbucks', 'PhilzCoffee', 'BlueBottleCoffee', 'PeetsTea', 'CaffeTrieste', 'GrandCoffee', 'RitualCoffee', 'FourBarrel', 'WorkshopCafe']
[['Alison', '3', '5', '4', '3', '', '', '5', '5', ''], ['April', '4', '5', '5', '3', '', '', '3', '', '5'], ['Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'], ['Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'], ['Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''], ['India', '5', '3', '3', '3', '3', '1', '', '', '3'], ['Dave H', '4', '5', '', '5', '', '', '', '', ''], ['Deepthi', '3', '5', '', '2', '', '', '', '', '2'], ['Ramesh', '3', '4', '', '3', '', '', '', '', '4'], ['Hugh Jass', '1', '5', '5', '4', '5', '2', '5', '4', '1'], ['Alex', '4', '5', '', '3', '', '', '', '', ''], ['Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''], ['David Feng', '2', '3', '4', '2', '2', '', '5', '4', '3'], ['Zach', '3', '4', '4', '3', '', '', '', '', '5'], ['Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'], ['Markus', '3', '5', '', '3', '', '', '4', '', ''], ['Otto', '4', '2', '2', '5', '', '', '3', '3', '3'], ['Alessandro', '1', '5', '3', '2', '', '', '4', '3', ''], ['Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'], ['cheong-tseng eng', '3', '1', '', '', '', '', '4', '', '']]

---

### 18. Convert numeric columns to floats and empty fields to `None`.

Iterate through the data, and construct a new data list of lists that contains the numeric ratings converted from strings into floats and the empty fields (which are empty strings '') replaced with the None object.

Use a nested for loop (a for loop within another for loop) to get the job done. You will likely need to use if-else conditional statements as well.

Print out the new data object to make sure you've succeeded.

In [57]:
clean_data = []

for array in new_data:
    clean_array = []
    for value in array:
        try:
            clean_array.append(float(value))
        except:
            pass
        
        if value == "":
            clean_array.append(None)
        else:
            clean_array.append(value)
    clean_data.append(clean_array)

print clean_data

[['Alison', 3.0, '3', 5.0, '5', 4.0, '4', 3.0, '3', None, None, 5.0, '5', 5.0, '5', None], ['April', 4.0, '4', 5.0, '5', 5.0, '5', 3.0, '3', None, None, 3.0, '3', None, 5.0, '5'], ['Vijay', 3.0, '3', 5.0, '5', 5.0, '5', 5.0, '5', 3.0, '3', 2.0, '2', 1.0, '1', 1.0, '1', 1.0, '1'], ['Vanessa', 1.0, '1', 5.0, '5', 5.0, '5', 2.0, '2', None, None, 3.0, '3', 2.0, '2', 3.0, '3'], ['Isabel', 1.0, '1', 4.0, '4', 4.0, '4', 2.0, '2', 4.0, '4', None, 4.0, '4', 4.0, '4', None], ['India', 5.0, '5', 3.0, '3', 3.0, '3', 3.0, '3', 3.0, '3', 1.0, '1', None, None, 3.0, '3'], ['Dave H', 4.0, '4', 5.0, '5', None, 5.0, '5', None, None, None, None, None], ['Deepthi', 3.0, '3', 5.0, '5', None, 2.0, '2', None, None, None, None, 2.0, '2'], ['Ramesh', 3.0, '3', 4.0, '4', None, 3.0, '3', None, None, None, None, 4.0, '4'], ['Hugh Jass', 1.0, '1', 5.0, '5', 5.0, '5', 4.0, '4', 5.0, '5', 2.0, '2', 5.0, '5', 4.0, '4', 1.0, '1'], ['Alex', 4.0, '4', 5.0, '5', None, 3.0, '3', None, None, None, None, None], ['Ajay Anand', 3.0, '3', 4.0, '4', 4.0, '4', 3.0, '3', 5.0, '5', None, None, None, None], ['David Feng', 2.0, '2', 3.0, '3', 4.0, '4', 2.0, '2', 2.0, '2', None, 5.0, '5', 4.0, '4', 3.0, '3'], ['Zach', 3.0, '3', 4.0, '4', 4.0, '4', 3.0, '3', None, None, None, None, 5.0, '5'], ['Matt', 3.0, '3', 5.0, '5', 4.0, '4', 3.0, '3', 2.0, '2', 2.0, '2', 4.0, '4', 3.0, '3', 2.0, '2'], ['Markus', 3.0, '3', 5.0, '5', None, 3.0, '3', None, None, 4.0, '4', None, None], ['Otto', 4.0, '4', 2.0, '2', 2.0, '2', 5.0, '5', None, None, 3.0, '3', 3.0, '3', 3.0, '3'], ['Alessandro', 1.0, '1', 5.0, '5', 3.0, '3', 2.0, '2', None, None, 4.0, '4', 3.0, '3', None], ['Rocky', 3.0, '3', 5.0, '5', 4.0, '4', 3.0, '3', 3.0, '3', 3.0, '3', 4.0, '4', 4.0, '4', 3.0, '3'], ['cheong-tseng eng', 3.0, '3', 1.0, '1', None, None, None, None, 4.0, '4', None, None]]

---

### 19. Count the `None` values per person, and put counts in a dictionary.

Use a for loop to count the number of `None` values per person. Create a dictionary with the names of the people as keys, and the counts of `None` as values.

Who rated the most coffee brands? Who rated the least?

In [60]:
dictionary = {}
max_people_so_far = []
max_so_far = 0

for array in clean_data:
    none_values = 0
    name = array[0]
    for value in array:
        if value == None:
            none_values += 1
    dictionary[name] = none_values
    if none_values > max_so_far:
        max_so_far = none_values
        max_people_so_far = [name]
    elif none_values == max_so_far:
        max_people_so_far.append(name)
    
print dictionary
print max_people_so_far

{'Dave H': 6, 'Ramesh': 5, 'Alex': 6, 'Rocky': 0, 'Zach': 4, 'Vanessa': 2, 'Deepthi': 5, 'India': 2, 'Matt': 0, 'Isabel': 2, 'April': 3, 'Alessandro': 3, 'Ajay Anand': 4, 'Otto': 2, 'Markus': 5, 'Hugh Jass': 0, 'David Feng': 1, 'Vijay': 0, 'cheong-tseng eng': 6, 'Alison': 3}
['Dave H', 'Alex', 'cheong-tseng eng']

---

### 20. Calculate average rating per coffee brand.

**Excluding `None` values**, calculate the average rating per brand of coffee.

The final output should be a dictionary with keys as the coffee brand names, and their average rating as the values.

Remember that average can be calculated as the sum of the ratings over the number of ratings:

```python
average_rating = float(sum(ratings_list))/len(ratings_list)
```

Print your dictionary to see the average brand ratings.

In [64]:
ratings_total = 0
column_index = 1
coffee_brand_ratings = {}

for brand in new_header[1:]:
    coffee_brand_ratings[brand] = []

for brand in new_header[1:]:
    for persons_data in clean_data:
        persons_rating_for_this_brand = persons_data[column_index]
        if persons_rating_for_this_brand is not None:
            coffee_brand_ratings[brand].append(float(persons_rating_for_this_brand))
    column_index += 1
# print coffee_brand_ratings

average_ratings = {}
for brand, ratings in coffee_brand_ratings.iteritems():
    average_ratings[brand] = sum(ratings) / len(ratings)

print average_ratings

{'PhilzCoffee': 2.85, 'WorkshopCafe': 3.4444444444444446, 'RitualCoffee': 3.1052631578947367, 'BlueBottleCoffee': 4.25, 'CaffeTrieste': 4.0, 'PeetsTea': 4.25, 'Starbucks': 2.85, 'FourBarrel': 3.0714285714285716, 'GrandCoffee': 3.789473684210526}

---

### 21. Create a list containing only the people's names.

In [66]:
peoples_names = []

for person_data in clean_data:
    peoples_names.append(person_data[0])
    
print peoples_names

['Alison', 'April', 'Vijay', 'Vanessa', 'Isabel', 'India', 'Dave H', 'Deepthi', 'Ramesh', 'Hugh Jass', 'Alex', 'Ajay Anand', 'David Feng', 'Zach', 'Matt', 'Markus', 'Otto', 'Alessandro', 'Rocky', 'cheong-tseng eng']

---

### 22. Picking a name at random. What are the odds of choosing the same name three times in a row?

Now we'll use a while-loop to "brute force" the odds of choosing the same name 3 times in a row randomly from the list of names.

Below I've imported the **`random`** package, which has the essential function for this code **`random.choice()`**.
The function takes a list as an argument, and returns one of the elements of that list at random.

In [70]:
import random
# Choose a random person from the list of people:
# random.choice(people)

random.choice(peoples_names)

'Hugh Jass'

Write a function to choose a person from the list randomly three times and check if they are all the same

Define a function that has the following properties:

1. Takes a list (your list of names) as an argument.
2. Selects a name using `random.choice(people)` three separate times.
3. Returns `True` if the name was the same all three times. Otherwise returns `False`.

In [74]:
def check_three_times_if_same(names):
    pick_one = random.choice(names)
    pick_two = random.choice(names)
    pick_three = random.choice(names)
    if pick_one == pick_two and pick_one == pick_three:
        return True
    else:
        return False

check_three_times_if_same(peoples_names)

False

---

### 23. Construct a while loop to run the choosing function until it returns True.

Run the function until you draw the same person three times using a while-loop. Keep track of how many tries it took and print out the number of tries after it runs.

In [78]:
number_of_tries = 0

while check_three_times_if_same(peoples_names) == False:
    number_of_tries += 1

print number_of_tries

493